name: Lint
runs:
  using: "composite"
  steps:
    - name: Format
      shell: bash
      run: |
        cargo fmt -- --check
        deno fmt --check ./core/ ./ops/ ./serde_v8/
        npm install -g typescript
        tsc --noEmit -p testing/tsconfig.json
    - name: Lint
      shell: bash
      run: |
        cargo clippy --locked --release --all-features --all-targets -- -D clippy::all
    - name: Lint
      shell: bash
      run: |
        deno lint
    - name: Lint
      shell: bash
      run: |
        tools/copyright_checker.js
