name: Lint
runs:
  using: "composite"
  steps:
    - name: Format
      shell: bash
      run: |
        tools/format.ts --check
    - name: Lint
      shell: bash
      run: |
        tools/lint.ts --check
